/*.authContainer {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: 50px auto;
  background: var(--background-color-light);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  font-size: 26px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

input, select {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  font-size: 16px;
  background: var(--input-background);
  color: var(--input-text-color);
}

input:focus, select:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.3);
}

button {
  width: 25%;
  padding: 12px;
  margin-top: 15px;
  background: var(--primary-color);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: var(--button-hover);
}

.dark-theme .authContainer {
  background: var(--background-color-dark);
  color: white;
}

.dark-theme h2 {
  color: #87ceeb;
}

.dark-theme input, 
.dark-theme select {
  background: #333;
  color: white;
  border: 1px solid #555;
}

.dark-theme button {
  background: #5454bf;
}

.dark-theme button:hover {
  background: #383875;
}

.error {
  color: var(--error-color);
  margin-bottom: 1rem;
}
*/