:root {
  /* Светлая тема */
  --background-color: #f7f7fc;
  --text-color: #333;
  --input-bg: #ffffff;
  --input-text: #333;
  --button-bg: #007bff;
  --button-hover-bg: #0056b3;
  --task-bg: #ffffff;
  --task-text: #333;
  --task-border: #e0e0e0;
  --task-hover-bg: #f0f0f0;
  --theme-toggle-bg: #87ceeb;
  --theme-toggle-color: #ffd700;
}

.dark-theme {
  /* Темная тема */
  --background-color: #1a1a2e;
  --text-color: rgba(255, 255, 255, 0.87);
  --input-bg: #2a2a40;
  --input-text: #e0e0e0;
  --button-bg: #5454bf;
  --button-hover-bg: #383875;
  --task-bg: #2a2a40;
  --task-text: #e0e0e0;
  --task-border: #444;
  --task-hover-bg: #33334d;
  --theme-toggle-bg: #1a1a40;
  --theme-toggle-color: #ffd700;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--button-bg);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-bg);
}

input {
  background-color: var(--input-bg);
  color: var(--input-text);
  border: 1px solid var(--task-border);
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

input:hover {
  background-color: var(--task-hover-bg);
}

input:focus {
  border-color: var(--button-bg);
  outline: none;
}


