:root {
  /* Светлая тема */
  --background-color: #cdebfb;
  --text-color: black;
  --input-bg: #ffffff;
  --input-text: #333;
  --button-bg: #64a7c4;
  --button-hover-bg: #0056b3;
  --task-bg: #ffffff;
  --task-text: black;
  --task-border: #e0e0e0;
  --task-hover-bg: #f0f0f0;
  --theme-toggle-bg: #87ceeb;
  --theme-toggle-color: #ffd700;
  --background-color-light: #cdebfb; /* Light background for main area */
  --background-color-dark: #1e314b; /* Dark theme background */
  --primary-color: #64a7c4; /* A cool blue for buttons and highlights */
  --secondary-color: #f8c5d0; /* A soft pinkish hue for accents */
  --tertiary-color: #a9c5d3; /* A light blue for backgrounds */
  --button-hover: #3a6186; /* Hover effect for buttons */
  --input-background: #ffffff; /* White background for inputs */
  --input-text-color: black; /* Dark text for better readability */
  --text-color: #1a1a2e; /* Primary text color */
  --error-color: #ff4c4c; /* Error message color */
  --input-border: #dcdcdc; /* Input border color */
  --bg-footer: var(--neutral-100);
  --text-secondary: #718096;
}

.dark-theme {
  /* Темная тема */
  --background-color: #0d2741;
  --text-color: rgba(255, 255, 255, 0.87);
  --input-bg: #2a2a40;
  --input-text: #e0e0e0;
  --button-bg: #64a7c4;
  --button-hover-bg: #0056b3;
  --task-bg: #2a2a40;
  --task-text: #e0e0e0;
  --task-border: #444;
  --task-hover-bg: #33334d;
  --theme-toggle-bg: #1a1a40;  
  --background-color-light: #292948;
  --background-color-dark: #0d2741;
  --primary-color: #4f93bb;
  --secondary-color: #f4a8c4;
  --tertiary-color: #4c6781;
  --button-hover: #0056b3;
  --input-background: #444;
  --input-text-color: #e0e0e0;
  --text-color: #e0e0e0;
  --error-color: #ff7070;
  --input-border: #555;
  --bg-footer: var(--neutral-800);
  --text-secondary: #a0aec0;
}

body {
  margin: 0;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  background-image: url('/pattern.svg'); /* Паттерн для светлой темы */
  background-size: 64px 64px; /* Размер паттерна */
  background-repeat: repeat; /* Повторение паттерна */
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Roboto", sans-serif;  
}


.dark-theme body {
  background-color: var(--background-color);
  background-image: url('/patternDark.svg'); /* Паттерн для темной темы */
  background-size: 64px 64px;
  background-repeat: repeat;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--button-bg);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-bg);
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--button-bg);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-bg);
}

input {
  background-color: var(--input-bg);
  color: var(--input-text);
  border: 1px solid var(--task-border);
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

input:hover {
  background-color: var(--task-hover-bg);
}

input:focus {
  border-color: var(--button-bg);
  outline: none;
}
